<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>89291079141-san970gaadrgerl80gpkbgkr4skgpacm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89291079141-san970gaadrgerl80gpkbgkr4skgpacm</string>
	<key>API_KEY</key>
	<string>AIzaSyCYLhOeDTUPzLWZU4E9H9ABztbgSGr0Yfc</string>
	<key>GCM_SENDER_ID</key>
	<string>89291079141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>total.SimpleNear</string>
	<key>PROJECT_ID</key>
	<string>simplenear-495fd</string>
	<key>STORAGE_BUCKET</key>
	<string>simplenear-495fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:89291079141:ios:ef3a5fb2fd514ef4</string>
	<key>DATABASE_URL</key>
	<string>https://simplenear-495fd.firebaseio.com</string>
</dict>
</plist>
